body {
    background-color: #97a0a6; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
}

.login-container {
    background-color: rgba(217, 217, 217, 1); /*màu nền đăng nhập*/
    padding: 30px 40px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.form-group label /*Tên đăng nhập mật khẩu*/
{
    width: 120px; 
    font-size: 16px;
    color: #333;
    display: flex;
   
}

.form-group input {
    
    flex-grow:1;
    padding: 5px;
    padding-right: 25px;
}
.forgot-password {
    color: red; 
    text-decoration: none;
    font-size: 14px;
    margin-left: auto; 
    margin-top: 5px;
    width: 100%; 
    text-align: right;
}

.login-button /*Đăng nhập*/
{
    width: 70%;
    padding: 10px;
    background-color: rgba(191, 184, 184, 1);
    color: rgba(58, 42, 42, 1);
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #a0a0a0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-left: 45%;
}

.signup-prompt {
    /* "Chưa có tài khoản? Đăng ký ngay"*/
    text-align: center;
    margin-top: 20px;
    font-size: 16px; 
}

.signup-link {
    /* Đăng ký ngay link */
    color: #cc0000;
    text-decoration: none;
    margin-left: 5px;
}

.form-group svg
{
    position: absolute;
    top: 50%;
    right:5px;
    right: 5px;
    top:10px
}

