.chatungvien1
{
    background-color: rgba(115, 166, 221, 1);
    display: flex;
    justify-content: center;
    height: 268px;
    width: 415px;
}
h1
{
       font-size: 37px;
    margin-top: 25%;
    color: white;

}
.chatungvien2
{
    margin-top: 268px;
    margin-left: -415px;
    background-color: rgba(100, 142, 193, 1);
    width: 415px;
}
.chatungvien2 i {
    font-size: 35px;
    display: flex;
    margin-left: 53px;
    margin-top: 33px;
    cursor: pointer;
}
.chatungvien2 p {
    margin-top: -6%;
    margin-left: 106px;
    font-size: 21px;
}

.chatungvien3 p {
    font-size: 26px;
    border-bottom: white;
   margin-top: -42px;
    margin-left: 19%;
}
.chatungvien3 i {
    font-size: 76px;
    margin-top: 30px;
    margin-left: 7%;
}
.chatungvien3
{
    background-color: rgba(151, 236, 247, 1);
    width: 53%;
    background: linear-gradient(200deg, rgba(22, 206, 230, 1), rgba(151, 236, 247, 1));
}
.khungchat
{
    margin-top: 687px;
    display: flex;
   gap: 6%;
    margin-left: 35%;
}
.khungchat input
{
    display: flex;
    background-color: rgba(119, 206, 237, 1);
    border-radius: 4px;
    padding: 13px 97px;
    margin-bottom: 15px;
}
.khungchat button
{
    background-color: rgba(119, 206, 237, 1);
    border-radius: 4px;
    margin-bottom: 15px;
    width: 86px;
    cursor: pointer;
}


