h1
{
    margin-top:  5%;
    margin-left: 38%;
    font-family: Arial;
}

img {
  display: flex;
  margin-left: 20%;
  width: 400px;
  padding-top: 20px;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 28px;
}
.chat
{
    display: flex;
    margin-left: 21%;
    margin-top: 20px;
    gap: 26px;
    font-size: 20px;
}
.edit
{
    display: flex;
    margin-left: 21%;
    margin-top: 20px;
    gap: 26px;
    font-size: 20px;
}
.chatedit
{
  display: flex;
  margin-top: -1px;
  font-size: 24px;
}
