  h1
{
    margin-top:  5%;
    margin-left: 38%;
    font-family: Arial;
}
.chung
{
     padding: 12px;

}
.nhap1
{
    display: flex;
     gap: 40%;
     margin-left: 8px;
}
.input1 
{
    display: flex;
    gap: 20px;
    
}
.input1 input
{
    border-radius: 8px;
    border: none;
    background-color: rgba(68, 86, 197, 0.23);
    padding: 8px 12px;
    width: 40%;
    outline: none;
}
.vitri
{
    margin-left: -28px;
}
.vitrituyen
{
    margin-left: -142px;
}
.gioithieu
{
    border-radius: 8px;
    border: none;
    background-color: rgba(68, 86, 197, 0.23);
    padding: 39px;
    width: 80%;
    outline: none;
}
.add
{
    margin-left: 75%;
    background-color: rgba(78, 138, 228, 1);
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 8px 20px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
}
